<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery-ui-timepicker-addon.css' %}" rel="stylesheet">
		
        <title>Share-Your-Ride  {% block title %}Share Your Ride!{% endblock %}</title>
    </head>
    <body>
        <div>
            <div class="navbar navbar-inverse navbar-fixed-top">
               <div class="navbar-inner">
                   <div class="container">
                       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="brand" href="/rides/">ShareYourRide</a>

                       <div class="nav-collapse collapse">
                           <ul class="nav pull-right">
                               {% if user.is_authenticated %}
                                <li class="navbar-text">Welcome, {{ user.username }}!</li>
                                <li><a href="/rides/profile/">Profile</a></li>
                                <li><a href="/rides/logout/">Logout</a></li>
                               {% else %}
                                <li><a href="/rides/register/">Register</a></li>
                                <li><a href="/rides/login/">Login</a></li>
                               {% endif %}
                           </ul>
                            <ul class="nav">
                               {% if user.is_authenticated %}
                                <li><a href="/rides/postride/">Post Ride</a></li>
                                <li><a href="/rides/search/">Search Ride</a></li>
                               {% endif %}
                           </ul>
                       </div>
                       <!--/.nav-collapse -->
                       
                   </div>
               </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1">
                    </div>
                    <!--/span-->
                    <div class="span10">
                    	
                        {% block body_block %}
                        {% endblock %}
                        
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/.fluid-container-->

        <hr>
        </div>
        <hr />
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/rango-ajax.js' %}"></script>
	<script src="{% static 'js/register_validate.js' %}"></script>
	<script src="{% static 'js/jquery-validate/jquery.validate.js' %}"></script>
	<script src="{% static 'js/jquery-validate/additional-methods.js' %}"></script>
	<script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui-sliderAccess.js' %}"></script>
    </body>

    <footer>
    <div class="container">
        <p>&copy; Share Your Ride 2014</p>
    </div>
</footer>
</html>
