{% extends 'rides/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body_block %}
<div class="hero-unit">


    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/rides/login/">
        <h2 class="form-signin-heading">Sign In</h2>
        {% csrf_token %}

        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
        {% endif %}

        Username: <input type="text" class="input-block" placeholder="Username" name="username" value="" size="50" />
        <br />
        Password: <input type="password" class="input-block" placeholder="Password" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}