{% extends 'rides/base.html' %}
{% load static %}

{% block title %}ShareYourRide: Ride Details{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Ride Details</h1>
    <div class="container">
    <table>
            <tr><td>{{ ride.type }}</td></tr>
            <tr><td>{{ ride.add_source }}</td></tr>
            <tr><td>{{ ride.add_destination }}</td></tr>
            <tr><td>{{ ride.ride_startDateTime }}</td></tr>
            <tr><td>{{ ride.ride_returnDateTime }}</td></tr>
            <tr><td>{{ ride.ride_comment }}</td></tr>
	</table>
    </div>
</div>
{% endblock %}



